.header-omnifood {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url('../../../assets/img/omnifood/omnifood-header.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header-omnifood__text-box {
  position: absolute;
  width: 114rem;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.header-omnifood__title {
  margin-top: 0;
  margin-bottom: 2rem;
  color: #ffffff;
  font-size: 5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .1rem;
  word-spacing: .4rem;
}

.omnifood-btn:link,
.omnifood-btn:visited {
  display: inline-block;
  padding: 1rem 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-decoration: none;
  border-radius: 20rem;
  transition: background-color .2s, border .2s, color .2s;
}

.omnifood-btn-full:link,
.omnifood-btn-full:visited {
  background-color: #e67e22;
  border: .1rem solid #e67e22;
  color: #ffffff;
  margin-right: 1.5rem;
}

.omnifood-btn-ghost:link,
.omnifood-btn-ghost:visited {
  border: .1rem solid #e67e22;
  color: #e67e22;
}

.omnifood-btn:hover,
.omnifood-btn:active {
  background-color: #cf6d17;
  box-shadow: 0 .1rem 2rem rgba(0, 0, 0, 0.5);
}

.omnifood-btn-full:hover,
.omnifood-btn-full:active {
  border: .1rem solid #cf6d17;
}

.omnifood-btn-ghost:hover,
.omnifood-btn-ghost:active {
  border: .1rem solid #cf6d17;
  color: #ffffff;
}

.header-omnifood__logo {
  height: 10rem;
  width: auto;
  float: left;
  margin-top: 2rem;
  position: absolute;
  left: 10%;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 5rem;
}

.main-nav li {
  display: inline-block;
  margin-left: 4rem;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: .8rem 0;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.3rem;
  border-bottom: .2rem solid transparent;
  transition: border-bottom .2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: .2rem solid #e67e22;
}

