<div class="omnifood-layout">
  <header class="header-omnifood">
    <nav>
      <div class="row">
        <img src="../../../assets/img/omnifood/logo-white.png" alt="Omnifood Logo" class="header-omnifood__logo">
        <ul class="main-nav">
          <li><a href="#">Food delivery</a></li>
          <li><a href="#">How it works</a></li>
          <li><a href="#">Our cities</a></li>
          <li><a href="#">Sign up</a></li>
        </ul>
      </div>
    </nav>

    <div class="header-omnifood__text-box">
      <h1 class="header-omnifood__title">Goodbye junk food<br>Hello super healthy meals</h1>
      <a class="omnifood-btn omnifood-btn-full" href="#">I'm hungry</a>
      <a class="omnifood-btn omnifood-btn-ghost" href="#">Show me more</a>
    </div>

    <div>

    </div>
  </header>

</div>

